@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #f0f0f0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}


/* Accordion styles */
.accordion-content {
  display: none;
}

.accordion-item.open .accordion-content {
  display: block;
}

.accordion-trigger {
  cursor: pointer;
}

.wider-select .multi-select-container {
  width: 100%;
  min-width: 250px; 
}

.wider-select .dropdown-container {
  width: 100%;
  min-width: 300px; 
}


.wider-date-picker .popover-trigger {
  width: 100%;
  min-width: 250px;
}

.wider-date-picker .popover-content {
  width: 100%;
  min-width: 300px;
}

.wider-date-picker .rdp {
  width: 100%;

}

.wider-date-picker .rdp-months {
  display:inline-block;
  flex-direction:column;
  align-items: center;
  width: 500%;

  
}

.wider-date-picker .rdp-caption {
  display: flex;
  justify-content: right;
  width: 100%;

}

.wider-date-picker .rdp-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wider-date-picker .rdp-nav button {
  flex: 1;
  text-align: center;
  width: 100%;

}

.wider-date-picker .rdp-head {
  text-align: center;
  width: 100%;

}

.wider-date-picker .rdp-table {
  width: 100%;

}

.wider-date-picker .rdp-tbody {
  width: 100%;

}

.wider-date-picker .react-day-picker {
  width: 100%;

}



  .status-text {
    margin-right: 0; /* Adjust as needed */
  }
  .status-value.text-dark-pastel-blue {
    color: #779ecb; /* Dark pastel blue color */
  }

  .status-value.text-dark-pastel-green {
    color: #115313; /* Dark pastel green color */
  }

  .status-value.text-dark-pastel-turqoise {
    color: #21a4c2; /* Dark pastel turqoise color */
  }

  .status-value.text-dark-pastel-red {
    color: #df2a27; /* Dark pastel red color */
  }

  .status-value.text-light-pastel-green{
    color: #16cd4c; /* light pastel green color */
  }


  .bid-button {
    justify-content: space-between;
  }


